<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>la</servlet-name>
        <servlet-class>My1.LoginAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowTable</servlet-name>
        <servlet-class>My1.ShowTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>My1.delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookiesTest</servlet-name>
        <servlet-class>My1.CookiesTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCookieTest</servlet-name>
        <servlet-class>My1.GetCookieTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>My1.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Next</servlet-name>
        <servlet-class>My1.Next</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Finish</servlet-name>
        <servlet-class>My1.Finish</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>My1.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>My1.AddUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>la</servlet-name>
        <url-pattern>/la</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>s1</servlet-name>
        <servlet-class>My1.Sev1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>s1</servlet-name>
        <url-pattern>/fos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowTable</servlet-name>
        <url-pattern>/ShowTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookiesTest</servlet-name>
        <url-pattern>/CookiesTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCookieTest</servlet-name>
        <url-pattern>/GetCookieTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Next</servlet-name>
        <url-pattern>/Next</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Finish</servlet-name>
        <url-pattern>/Finish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/se</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
